.course-listing {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 80px 200px 80px;
}

.course-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  color: black;
  margin-bottom: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.course-card img {
  width: 200px;
  padding: 10px;
  border-radius: 15px;
}

.course-card .info {
  padding: 15px;
}


@media (max-width: 1024px) {

  .course-listing {
    padding: 20px 40px 120px 40px;
  }

  .course-card {
    flex-direction: column;
    text-align: center;
  }

  .course-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
  } 
}

@media (max-width: 768px) {

  .course-listing {
    padding: 20px;
  }

  .course-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .course-card img {
    width: 100%;
    max-width: 250px;
    height: auto;
  } 
}
